:root {
  /* Colors */
  --zaragoza-red: #B4252D;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #222B35;
  --black: #222B35;
  --off-white: #faf8f7;
  --just-white: #fff;
  --grey: #bababa;
}
.top-bar{
  background-color: var(--warm-black);
  color: var(--just-white);
}
.top-bar ul{
  background-color: transparent;
}
.top-bar a{
  background-color: var(--warm-black);
  color: var(--just-white);

}
.promo-hero {
    width: 100%;
    text-align: center;
    height: 420px;
    background: #8a8a8a;
    position: relative;
    color: white;
  }
  
  .promo-hero .button.white-hollow {
    border: 1px solid #fefefe;
    color: #fefefe;
    background-color: transparent;
    transition: border 0.5s ease;
  }
  
  .promo-hero .button.white-hollow:hover, .promo-hero .button.white-hollow:active, .promo-hero .button.white-hollow:focus {
    border: 1px solid #b2b2b2;
    transition: border 0.5s ease;
  }
  
  .promo-hero-content {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  
  .promo-hero-title {
    line-height: 1.25em;
    margin-bottom: 1rem;
  }
  
  .promo-hero-description {
    margin-bottom: 1rem;
  }
  
  .promo-hero-bg-image {
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1565008447742-97f6f38c985c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1778&q=80);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .promo-hero-bg-image:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1;
  }
  .alum-zaragoza{
    margin-top: 10px;
  }
  .logo-zaragoza{
    width: 80px;
    height: 80px;
    margin: 0;
  }
  .menu-up{
    margin-top: 20px;
    width: 300px;
    display: inline-flex;
  }
  .button-dropdwn_container{
      height: 550px;

  }
 .dropdown-pane{
    width: 70%;
 }
 .buttonShop{
   display: inline-block;
   text-align: center;
   cursor: pointer;
   -webkit-appearance: none;
   transition: all .25s ease-out;
   border: 1px solid transparent;
   border-radius: 0;
   padding: .85em 1em;
   margin: 0 1rem 1rem 0;
   font-size: .9rem;
   background-color: #B4252D;
   color: #fff;
   width: 130px;
 }
 .buttonShop:hover{
  background-color: #9c0109;
  color: white;

 }
 .buttonShop-white{
  display: inline-block;
  width: 130px;
   text-align: center;
   cursor: pointer;
   -webkit-appearance: none;
   transition: all .25s ease-out;
   border: 1px solid transparent;
   border-radius: 0;
   padding: .85em 1em;
   margin: 0 1rem 1rem 0;
   font-size: .9rem;
   color: white;
   border: 1px solid white;
 }
 .buttonShop-white:hover{
  background-color: white;
  border: none;
   color: #B4252D;;
 }
 .button-catalogo {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all .25s ease-out;
  border: 1px solid transparent;
  border-radius: 0;
  padding: .85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 1.2rem;
  background: #B4252D;
  color: #fff;
  width: 100%;
}
.button-catalogo:hover{
  background: #9c0109;
  color: #fff;
}
.tabs-title a{
  font-size: 16px;
}

@media (max-width: 600px) {
  .top-bar{
  text-align: center;
  }
  .alum-zaragoza{
    margin-left: -15px;
  }
  .menu{
    text-align: center;
    width: 100%;
  }
  .menu-footer{
    width: 100%;
    background-color: var(--warm-black);
    color: var(--just-white);
  }
  .menu-footer a{
    color: var(--just-white);

  }
  .menu-footer li{
    display: inline-flex;
  }
}