:root {
  /* Colors */
  --zaragoza-red: #B4252D;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #222B35;
  --black: #222B35;
  --off-white: #faf8f7;
  --just-white: #fff;
  --grey: #bababa;
}
 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--just-white);
}

html {
  font-size: 70%;
  font-family: "DM Sans", sans-serif;
}
dl, ol, ul {
    margin-top: 0;
   margin-bottom: 1rem;
}
ol, ul {
   padding-left: 0; 
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  text-align: center;
}
.modal .modal-dialog{
  width: 100%;
  height: 100%;

}
.modal-header .btn-closes{
  box-sizing: content-box;
  width: 2em;
  height: 2em;
  padding: .5em .5em;
  font-size: 1.6rem;
  color: #fff;
  border: 0;
  background-color: #B4252D;
  border-radius: .25rem;
}
.modal-content{
  background-color: transparent;
  align-items: center;
  width: 100%;

}
.modal .modal-dialog{
}
.modal-body video{
  width: 700px;
  height: 500px;
}
.slide {
  align-self: center;
  width: 100%;
  height: 50vh;
  max-height: 90vh;
}

.slide-one {
  width: 100%;
  height: 50vh;
  background-image: url(../assets/img/slide01-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-two {
  width: 100%;
  height: 50vh;
  background-image: url(../assets/img/slide2-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-three {
  width: 100%;
  height: 50vh;
  background-image: url(../assets/img/slide03-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav  {
  background-color: var(--warm-black);
  font-size: 1.6rem;
  

}
.container-fluid{
  margin-left: 10px;
  margin-right: 10px;
}
.logo__container {
  width: 60%;
  display: flex;
  align-items: center;

}

.logo__container img {
  width: 40px;
  height: 50px;
  margin-right: 15px;
  
}

.logo__container a {
  color: var(--grey);
  text-decoration: none;
  font-size: 1.6rem;
  align-content: center;
}

.navbar-nav {
  text-align: center;
}

.navbar-collapse {
  flex-grow: 0;
  margin-right: 30px;
}

.header--title-container {
  width: 100%;
  min-width: 288px;
  max-width: 1020px;
  height: 218px;
  margin-top: 0;
  text-align: center;
  align-self: center;
  border: 1px solid red;
}

.header--title-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header--title-container p {
  margin-top: 25px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background: var(--off-white);
  /* Sombra  */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header--title-container .header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/icons/down-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: auto;
}
.carousel-caption{
  width: 350px;
  height: 200px;
  margin-left: -230px;
}
.carousel-control-prev{
  width: 50px;
}
.buttonShop{
  z-index: 2;
  width: 300px;
  height: 60px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all .25s ease-out;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: .5em 0;
  font-size: 2rem;
  background-color: #B4252D;
  color: #fff;
  text-decoration: none;
}

.buttonShop:hover{
 background-color: #9c0109;
 color: white;

}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 60px;
  margin-bottom: 90px;
  padding-bottom: 70px;
  text-align: center;
}

.main-exchange-container--title {
  width: 70%;
  height: auto;
  min-width: 288px;
  max-width: 950px;
  margin: 0 auto;
}

.main-exchange-container .backgroundImg {
  width: 120px;
  height: 190px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../assets/img/zaragoza.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container h2 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container p{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
}


.main-currency-table{
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;

}

.img-company {
  margin-top: 20px;
  width: 250px;
  height: 240px;
  background-image: url(../assets/img/slide2-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.text-p__container{
  margin-top: 20px;
  width: 80%;
  min-width: 288px;
  max-width: 700px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
  text-align: justify;
}


.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--black);
}



.product-detail--batata-logo {
  position: absolute;
  width: 80px;
  height: 100px;
  left: calc(50% - 40px);
  top: -50px;
  background-image: url("../assets/icons/zaragoza-01.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.article_container {
  display: flex;
  width: 100%;
  border: 1px solid white;
}

.product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #b4b0b0;
}

.product-detail--card {
  border: 1px solid white;
  text-align: center;
  width: 90%;
  height: 180px;
  min-width: 288px;
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background-color: var(--warm-black);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}


.product-detail--card .clock {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-image: url("../assets/icons/mexico-01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--card .eye {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-image: url("../assets/icons/sucursales-01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--card .dollar {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-image: url("../assets/icons/colaboradores.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--card .check {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-image: url("../assets/icons/clientes.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product--card_title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product--card_body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #b4b0b0;
}

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("../assets/img/fachada1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main-plans-container {
  width: 100%;
  min-height: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.main-plans-container h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-plans-container p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plan-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.plans-container--slider {
  display: flex;
  /* gap: 50px; Aun no está soportado por todos los navegadores :( */
  height: 516px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 400px;
  margin: 50px 30px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .recommended {
  position: absolute;
  width: 120px;
  height: 31px;
  left: calc(50% - 60px);
  top: -15px;
  margin: 0;
  padding: 6px;
  background-color: var(--zaragoza-red);
  border-radius: 8px;
  color: var(--just-white);
}

.plan-card--title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}

.plans-container--card .plan-card--price {
  padding: 5px 0;
  font-size: 5.3rem;
  font-weight: bold;
  line-height: 6.3rem;
  color: black;
}

.plans-container--card .plan-card--saving {
  padding-top: 0;
  height: 60px;
}

.plan-card--ca {
  width: 151px;
  height: 48px;
  margin-top: 35px;
  background: var(--off-white);
  border: 2px solid var(--zaragoza-red);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
}
.plan-card--ca:hover {
  background-color: var(--zaragoza-red);
  color: var(--off-white);
}

.plan-card--ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../assets/icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
}


.left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.left li {
  margin: 10px 0;
}

.left a {
  text-decoration: none;
  color: var(--just-white);
}

.right img {
  width: 60px;
}


/* section sucursales  */

.main-suc-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--black);
}

.suc-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.suc-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.suc-cards--container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.suc-detail--card {
  margin: 10px;
  text-align: center;
  width: 110px;
  height: 100px;

}
.suc-detail--card a{
  font-size: 1.3rem;
  color: var(--off-white);
  text-decoration: none;
}

.suc-detail--card .cdmx {
  display: inline-block;
  align-content: space-between;
  width: 40px;
  height: 40px;
  background-image: url("../assets/icons/cdmx-01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.suc-detail--card .edomex {
  display: inline-block;
  align-content: space-between;
  width: 40px;
  height: 40px;
  background-image: url("../assets/icons/edomex-01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.suc-detail--card .morelos {
  display: inline-block;
  align-content: space-between;
  width: 40px;
  height: 40px;
  background-image: url("../assets/icons/morelos-01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.suc-detail--card .puebla {
  display: inline-block;
  align-content: space-between;
  width: 40px;
  height: 40px;
  background-image: url("../assets/icons/puebla-01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.suc-detail--card .veracruz {
  display: inline-block;
  align-content: space-between;
  width: 40px;
  height: 40px;
  background-image: url("../assets/icons/veracruz-01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.suc-detail--card .tabasco {
  display: inline-block;
  align-content: space-between;
  width: 40px;
  height: 40px;
  background-image: url("../assets/icons/tabasco-01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.suc-detail--card .oaxaca {
  display: inline-block;
  align-content: space-between;
  width: 40px;
  height: 40px;
  background-image: url("../assets/icons/oaxaca-01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.suc-detail--card .michoacan {
  display: inline-block;
  align-content: space-between;
  width: 40px;
  height: 40px;
  background-image: url("../assets/icons/mochoacan-01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.suc-detail--card .guerrero {
  display: inline-block;
  align-content: space-between;
  width: 40px;
  height: 40px;
  background-image: url("../assets/icons/guerrero-01.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.contact-container {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 20px;

}

.contact-container h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
form .btn-primary{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: var(--zaragoza-red);
  border: 1px solid  var(--zaragoza-red);
}
form .btn-primary:hover{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: var(--warm-black);
}

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--warm-black);
}

footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-container{
  margin-top:40px;
}
.contact-container a{
  color: var(--just-white);
  font-size: 1.6rem;
  margin-right: 10px;
  padding: 1px;
  text-decoration: none;
  cursor: pointer;

}
.contact-container li{
  margin-bottom: 10px;
  list-style: none;
}
.contact-container em{
  margin-right: 10px;
}
.social-media{
  display: flex;
  margin-top: -3px;
}
.social-media li{
  margin-left: 5px;
}


@media (min-width: 600px) {
  .main-currency-table{
    justify-content: center;
  
  }
  .img-company{
    margin-right: 30px;
  }
  .container-fluid{
    margin-left: 40px;
    margin-right: 20px;
  }
  .contact-container{
    display: flex;
    flex-direction: column;
  }
  form{
    width: 100%;
    justify-content: center;
    font-size: 1.6rem;
    padding: 5px;
  }
  form .btn-primary {
    width: 270px;
    height: 40px;
    font-size: 1.6rem;
    margin-top: 10px;
    border: none;
    background-color: var(--zaragoza-red);
   }
   form .btn-primary:hover {
    width: 270px;
    height: 40px;
    font-size: 1.6rem;
    margin-top: 10px;
    background-color: var(--warm-black);
   }
}
@media (max-width: 600px) {
  footer{
    height: auto;
  }
  .contact-container{
    height: auto;
  }
  .right{
    width: 60%;
  }
  .contact-container ul li a{
    font-size: 1.2rem;
  }
  .modal-body video{
    width: 300px;
    height: 300px;
  }

  .slide {
    align-self: center;
    width: 100%;
    height: 20vh;
    max-height: 90vh;
  }
  
  .slide-one {
    width: 100%;
    height: 20vh;
    background-image: url(../assets/img/slide01-01.jpg);
  }
  
  .slide-two {
    width: 100%;
    height: 20vh;
    background-image: url(../assets/img/slide2-01.jpg);
  }
  
  .slide-three {
    width: 100%;
    height: 20vh;
    background-image: url(../assets/img/slide03-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
}