 em{
    margin-right: 10px;
}
@media (max-width: 600px) {
    .column a{
        font-size: 15px;
    }
    .column .button{
        margin-bottom: 90px;
    }
    .menu-up{
        width: auto;
    }
  }
  /* .column{
      border: 1px solid red;
      height: 200px;
  } */

  .column iframe{
      margin-bottom: 20px;
  }

  .column .button{
      margin-top: 30px;
      margin-bottom: 60px;
  }